<!-- Start Topbar -->
<div class="topbar" style="position: fixed;z-index: 10;background: white;">
    <div class="container-fluid" style="width:85%">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="">
                        <img src="/static/images/logo.png" class="menu-logo-image">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu" aria-controls="main_menu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse fixed-height" id="main_menu">
                        <ul class="navbar-nav" style="margin:auto">
                            <li class="nav-item ">
                                <a class="nav-link active" href="/admin">
                                    <img src="/static/images/users/users.svg" class="img-fluid" alt="pages">
                                    Users_List <div class="mr-hover-effect"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/admin/products-list">
                                    <img src="/static/images/users/product.svg" class="img-fluid" alt="widgets">
                                    Products_List <div class="mr-hover-effect"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/admin/transactions-list">
                                    <img src="/static/images/users/transaction.svg" class="img-fluid" alt="pages">
                                    Transactions-list<div class="mr-hover-effect"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/admin/report-list">
                                    <img src="/static/images/users/flag.svg" class="img-fluid" alt="pages">
                                    Reports-list<div class="mr-hover-effect"></div>
                                </a>
                            </li>
                        </ul>
                        <a href="/admin/logout" class="link_logout"><img src="/static/images/svg-icon/logout.svg" class="img-fluid" alt="logout">Logout</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
