{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}
{% block title %}Transactions_List{%  endblock %}
{% block styles %}
    <link href="{% static 'plugins/switchery/switchery.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/datepicker/datepicker.min.css'  %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
<div id="containerbar" class="container-fluid">
    <div class="rightbar">
        {% include 'includes/topbar.html' %}
        <div class="contentbar ">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <form method="get">
                                {% csrf_token %}
                                <div class="table-responsive">
                                <table id="tbl_order_list" class="table table-hover">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Reporter</th>
                                        <th scope="col">Product_name</th>
                                        <th scope="col">Product_owner</th>
                                        <th scope="col">Created At</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for report in reports %}
                                    <tr>
                                        <th scope="row">#{{ report.id }}</th>
                                        <td>{{ report.reporter }}</td>
                                        <td>{{ report.product }}</td>
                                        <td>{{ report.product_owner }}</td>
                                        <td><time >{{ report.created_at }}</time></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerbar">
            <footer class="footer">
                <p class="mb-0">© 2020 Unboxxen - All Rights Reserved.</p>
            </footer>
        </div>
    </div>
</div>

<div class="modal fade" id="request_order_dialog" tabindex="-1" role="dialog" aria-labelledby="dialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered bd-example-modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dialogTitle">New Booking</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="booking_form" action="transaction-add/" method="POST">
                    {% csrf_token %}
                    <div class="contentbar container-fluid ">
                    <!-- Start row -->
                        <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div class="row">
                                <div class="col-12 col-md-8">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12 col-xl-12">

                                            <ul class="nav nav-tabs" id="defaultTab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="option1-tab" data-toggle="tab" href="#tab_option1" role="tab" aria-controls="tab_option1" aria-selected="true">Property</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="option3-tab" data-toggle="tab" href="#tab_option3" role="tab" aria-controls="tab_option3" aria-selected="false">Date</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" id="defaultTabContent">
                                                <div class="tab-pane fade show active" id="tab_option1" role="tabpanel" aria-labelledby="option1-tab">
                                                    <div class="form-row mb-3">
                                                        <div class="col-sm-6">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="custom-control custom-checkbox text-left m-b-10">
                                                                      <input type="text" class="form-control" name="email" id="txt_email" placeholder="Title" required>
                                                                    </div>
                                                                    <div class="custom-control custom-checkbox text-left m-b-10">
                                                                      <input type="number" step="0.01" class="form-control" name="username" id="txt_username" placeholder="Price" required>
                                                                    </div>
                                                                    <div class="custom-control custom-checkbox text-left m-b-10">
                                                                      <input type="text" class="form-control" name="name" id="txt_name" placeholder="Currency" required>
                                                                    </div>
                                                                    <div class="custom-control custom-checkbox text-left m-b-20">
                                                                      <input type="text" class="form-control" name="address" id="txt_address" placeholder="Description">
                                                                    </div>
                                                                    <div class="custom-control custom-checkbox text-left m-b-20">
                                                                      <input type="email" class="form-control" name="owner" id="txt_owner" placeholder="Product_Owner">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="tab_option3" role="tabpanel" aria-labelledby="option3-tab">
                                                    <div class="form-row mb-3">
                                                        <div class="col-sm-6">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="row">
                                                                        <div class="col-12 card m-b-30">
                                                                            <div class="input-group">
                                                                                <input type="text" id="txt_updated_at" name="last" class="form-control" aria-describedby="basic-addon5" placeholder="DD/MM/YYYY">
                                                                            </div>
                                                                            <label class="col-6 font-14" >: updated_at</label>
                                                                        </div>
                                                                        <div class="col-12 card m-b-30">
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" name="create" id="txt_created_at" placeholder="DD/MM/YYYY">
                                                                            </div>
                                                                            <label class="col-6 font-14" >: created_at</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="row">
                                            <div class="col-12">
                                                <div class="card m-b-30">
                                                    <ul class="nav nav-tabs mb-3" id="yourContactTab" role="tablist">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#tab-contact" role="tab" aria-controls="tab-contact" aria-selected="true">   </a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content" id="yourContactTabContent">
                                                        <div class="tab-pane fade show active" id="tab-contact" role="tabpanel" aria-labelledby="contact-tab">
                                                            <div class="row m-b-30 justify-content-center">
                                                                <div class="col-12">
                                                                    <div class="form-group mb-0">
                                                                        <input type="hidden" class="form-control" name="book_id" id="book_id">
                                                                        <select class="form-control" id="txt_active" name ="active" >
                                                                            <option value="2">Sold</option>
                                                                            <option value="1" disabled="disabled">Inprogress</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row m-b-30 justify-content-center">
                                                                <div class="col-12">
                                                                    <div class="form-group mb-0">
                                                                        <input type="email" class="form-control" name="over" id="txt_overview" placeholder="buyer_Email" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-center">
                                                                <div class="col-12">
                                                                    <button type="submit" class="btn btn-primary col-12"><i class="feather icon-send mr-2"></i><span>Update Transaction Request</span></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="{% static 'plugins/datepicker/datepicker.min.js' %}"></script>
    <script src="{% static 'plugins/datepicker/i18n/datepicker.en.js' %}"></script>
    <script src="{% static 'js/custom/custom-form-datepicker.js' %}"></script>
    <script src="https://rawgit.com/makeusabrew/bootbox/f3a04a57877cab071738de558581fbc91812dce9/bootbox.js"></script>
    <script src="{% static 'js/transactions.js' %}"></script>
{% endblock %}
